fastapi
mlflow
numpy
opencv-python
pandas
Pillow
pydantic
python-multipart
python-dotenv
prometheus-client
prometheus-fastapi-instrumentator
shapely
tensorflow==2.9.1
tokenizers
torch
transformers
transformers[sentencepiece]
uvicorn
great_expectations