# external requirements
Flask
Pillow
fastapi
matplotlib
mlflow
numpy
opencv-python
pandas
pydantic
scikit-learn
scipy
shapely
tensorflow==2.9.1
tokenizers
torch
transformers
transformers[sentencepiece]